/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.env
.DS_Store
/DEVSENSE
laravel-echo-server.json
public/transaction_time_line/*
public/documents/*
public/temp/*
storage/fonts/roboto_*
storage/fonts/installed-fonts.json
storage/fonts/DejaVuSans*
public/captcha/*
